[submodule "frontend"]
	path = frontend
	url = https://github.com/AdithyaSean/student-management-system-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/AdithyaSean/student-management-system-backend
